In [2]:
import os
import glob
import pandas as pd

In [10]:
data_dir = r"C:\Users\User\Documents\CentraleSupelec\3A\hackaton_schlumberger\data"
data_files = glob.glob(os.path.join(data_dir, '*'))
data_files

['C:\\Users\\User\\Documents\\CentraleSupelec\\3A\\hackaton_schlumberger\\data\\loc.parquet',
 'C:\\Users\\User\\Documents\\CentraleSupelec\\3A\\hackaton_schlumberger\\data\\logs.parquet',
 'C:\\Users\\User\\Documents\\CentraleSupelec\\3A\\hackaton_schlumberger\\data\\tops.parquet']

In [15]:
loc_file = os.path.join(data_dir, 'loc.parquet')
logs_file = os.path.join(data_dir, 'logs.parquet')

In [16]:
localisation = pd.read_parquet(loc_file, engine='pyarrow')
logs = pd.read_parquet(logs_file, engine='pyarrow')

In [23]:
test = logs.head()

In [24]:
test.wellName = test.wellName

      wellName  DEPTH        GR
1  512320698.0  421.0   96.9752
2  512320698.0  421.5  102.3324
3  512320698.0  422.0  104.6432
4  512320698.0  422.5   99.2187
5  512320698.0  423.0   92.0200

In [19]:
logs.head()#.pivot(columns='wellName', values='DEPTH')

      wellName  DEPTH        GR
1  512320698.0  421.0   96.9752
2  512320698.0  421.5  102.3324
3  512320698.0  422.0  104.6432
4  512320698.0  422.5   99.2187
5  512320698.0  423.0   92.0200

In [14]:
data.head()

              Latitude  Longitude
wellName
512320698.0  48.673353   2.145178
512320699.0  48.673353   2.150808
512320928.0  48.698713   2.140728
512320970.0  48.713273   2.150148
512320971.0  48.709603   2.145308